{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">

    <!-- Page Sidebar -->
        {{! The tag below includes the page sidebar - partials/page-sidebar.hbs }}
        
        {{> "page-sidebar"}}


    <!-- Page Content -->

<div class="author-holder" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    {{! Everything inside the #author tags pulls data from the author }}
    {{#author}}

        <section class="author-profile">
            {{#if image}}
            <figure class="author-image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
            {{/if}}
            <h1 class="author-title">{{name}}</h1>
            <h2 class="author-bio">{{bio}}</h2>
            <div class="author-meta">
                {{#if location}}<span class="author-location"><i class="fa fa-map-marker fa-fw"></i>{{location}}</span>{{/if}}
                {{#if website}}<span class="author-link"><i class="fa fa-link fa-fw"></i><a href="{{website}}">{{website}}</a></span>{{/if}}
                <span class="author-stats"><i class="fa fa-rss fa-fw"></i>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
            </div>
        </section>
    {{/author}}
</div>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>